
/* COLORS */
$clr-100: rgb(255, 255, 255);
$clr-200: rgb(213, 225, 239);
$clr-300: rgb(125, 136, 158);
$clr-400: rgb(54, 133, 255);
$clr-500: rgb(44, 125, 250);
$clr-600: rgb(31, 49, 79);

/* TYPE */
$ff-regular: 'Outfit', sans-serif;;

$fw-regular: 400;
$fw-bold: 700;

$fs-regular: 0.938rem;
$fs-header: 1.375rem;